.art {
    text-align: center;
  }

.art2 {
    text-align: left;
  }

.tdL {
    text-align: left;
  }

.tdC {
    text-align: center;
  }

.tdR {
    text-align: right;
  }
  
.gris {
  color: gray;
}

.negrita {
  font-weight: bolder;
  color:white;  
}

.seccionPrincipal {
  align-items: center;
  color:#DDDDDD;
  font-size: 12px;
}

.seccionPorcentajes {
  align-items: center;
  color:#DDDDDD;
  border: 3;
}

.oculto {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Estilos por defecto para escritorio */
body {
    font-size: 10px;
}

/* Media Query para dispositivos con un ancho máximo de 600px */
@media only screen and (max-width: 600px) {
    /* Aquí los estilos solo para móviles */
    body {
        font-size: 20px; /* Letras más grandes para el cuerpo */
    }

    .seccionPrincipal {
      align-items: center;
      color:#DDDDDD;
      font-size: 18px;
    }
}