.art {
    text-align: center;
  }

.art2 {
    text-align: left;
  }

.tdL {
    text-align: left;
  }

.tdC {
    text-align: center;
  }

.tdR {
    text-align: right;
  }
  
.gris {
  color: gray;
}

.negrita {
  font-weight: bolder;
  color:white;  
}

.seccionPrincipal {
  align-items: center;
  color:#DDDDDD;
}

.seccionPorcentajes {
  align-items: center;
  color:#DDDDDD;
  border: 3;
}

.oculto {
  display: none;
}

.invisible {
  visibility: hidden;
}